# ─── Flutter/Dart ─────────────────────────────────────────────────────────────
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart
*.gr.dart

# ─── Isar ─────────────────────────────────────────────────────────────────────
*.isar
*.isar.lock

# ─── IDE ──────────────────────────────────────────────────────────────────────
.idea/
.vscode/
*.iml

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Melos ────────────────────────────────────────────────────────────────────
.melos_tool/
pubspec_overrides.yaml
